#Greeting {
    text-align: center;
}

h1{
    color: rgb(0, 83, 138);
    font-size: 40px;
}

h2{
    text-align: center;
}

#button{
    text-align: center;
}

#DepartureDropdown{
    text-align: center;
}

#ArrivalDropdown{
    text-align: center;
}

img{
    width: 40%;
    height: auto;
}