html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100%;
}


#Greeting {
    text-align: center;
}

h1{
    margin-top: 20px;
    color: rgb(0, 83, 138);
    font-size: 60px;
    margin-bottom: 80px;
}

h2{
    text-align: center;
    font-size: 33px;
}

h3{
    text-align: center;
    font-size: 20px;
}

button{
    background-color: #e84b39; 
    border: 2px solid black;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    font-size: 17;
    font-weight: bold;
    display: inline-block;
    border-radius: 8px;
    color: black;
    transition-duration: 0.3s;
    width: 580px;
    height: 50px;
}

button:hover{
    background-color: rgb(255, 164, 164);
    cursor: pointer;
}

#DepartureDropdown{
    text-align: center;
    height: 25px;
}

#ArrivalDropdown{
    text-align: center;
    height: 25px;
}

img{
    width: 40%;
    height: auto;
}

select{
    background-color: rgb(0, 83, 138);
    color: white;
}

select:hover{
    cursor: pointer;
}



.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: 100vh;
    padding: 0 50px;
}
  
.right-content {
    flex: 2;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
  
.left-content {
    flex: 1;
    display: flex;
    justify-content: flex-start;
}
  
.left-content img {
    width: 500px;
    height: auto;
}


.button{
    display: flex;
    gap: 10px; 
    flex-wrap: wrap;
    justify-content: center;
}

.dropdowns {
    display: flex;
    gap: 10px;
    flex-wrap: wrap; 
    justify-content: center;
}

.output{
    display: flex;
    gap: 10px;
    flex-wrap: wrap; 
    justify-content: center;
}

.station-text{
    color: #e84b39;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
}

.details-text {
    display: block;
    font-size: 20px;
    text-align: center;
    color: rgb(0, 83, 138);
    font-weight: bold;
  }